<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/style :: style"></div>
    <title>User edit</title>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar :: navbar"></div>

    <form th:action="@{/ui/users/edit}"
          th:object="${user}" th:method="post" class="form-size">

        <div class="row mt-5">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input th:field="*{firstName}"
                           th:value="${user.firstName}"
                           type="text"
                           id="firstName"
                           class="form-control">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input th:field="*{lastName}"
                           th:value="${user.lastName}"
                           type="text"
                           id="lastName"
                           class="form-control">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input th:field="*{email}"
                           th:value="${user.email}"
                           type="text"
                           id="email"
                           class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-md-3">
                <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input th:field="*{phone}"
                           th:value="${user.phone}"
                           type="text"
                           id="phone"
                           class="form-control">
                </div>
            </div>
        </div>
        <div hidden="hidden">
            <input type="number" th:field="*{id}" th:value="${user.id}">
        </div>
        <div class="row">
            <div class="col col-2">
                <button type="submit" class="btn btn-success"><i class="fa fa-pen mr-2"></i>Submit</button>
            </div>
        </div>

    </form>
</div>
<div th:insert="fragments/style :: scripts"></div>
</body>
</html>