<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/style :: style"></div>
    <title>Users list</title>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar :: navbar"></div>

    <table class="table">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Cars count</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="current : ${users}">
            <th th:text="${current.firstName}">first name</th>
            <th th:text="${current.lastName}">last name</th>
            <th th:text="${current.email}">email</th>
            <th th:text="${current.phone}">phone</th>
            <th th:text="${current.carEntities.size()}">cars count</th>

            <td><a th:href="@{~/ui/users/update-page/{id}(id = ${current.id})}"
                   class="btn btn-success"><i class="fa fa-pen mr-2"></i>Edit</a></td>

            <td><a th:href="@{~/ui/users/{id}/delete (id = ${current.id})}"
                   class="btn btn-danger"><i class="fa fa-trash-alt mr-2"></i>Delete</a></td>
        </tr>

        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li th:href="@{~/ui/users/page/1}" class="page-item"><a class="page-link">1</a></li>
            <li th:href="@{~/ui/users/page/2}" class="page-item"><a class="page-link">2</a></li>
            <li th:href="@{~/ui/users/page/3}" class="page-item"><a class="page-link">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

</div>
<div th:insert="fragments/style :: scripts"></div>
</body>
</html>