<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/style :: style"></div>
    <title>Users page</title>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar :: navbar"></div>
    <div class="row">
        <div class="col-sm-12 col-md-12 add">
            <a href="/ui/users/create-page" class="btn btn-outline-info"><i class="fas fa-plus"></i> Add user</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Cars count</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="current : ${users}">
            <td th:text="${current.firstName}">first name</td>
            <td th:text="${current.lastName}">last name</td>
            <td th:text="${current.email}">email</td>
            <td th:text="${current.phone}">phone</td>
            <td>
                <a th:href="@{~/ui/cars/by-user/{id}(id=${current.id})}" style="color: lightslategrey"
                   th:text="${current.carEntities.size()}">cars count</a>
            </td>

            <td><a th:href="@{~/ui/users/update-page/{id}(id = ${current.id})}"
                   class="btn btn-success"><i class="fa fa-pen mr-2"></i>Edit</a></td>

            <td><a th:href="@{~/ui/users/{id}/delete (id = ${current.id})}"
                   class="btn btn-danger"><i class="fa fa-trash-alt mr-2"></i>Delete</a></td>
        </tr>

        </tbody>
    </table>
    <nav aria-label="Page navigation example" th:if="${users.totalPages > 0}">
        <ul class="pagination">
            <li class="page-item" th:classappend="${users.number < 1} ? disabled">
                <a class="page-link" th:href="@{~/ui/users/page/{page}(page = ${users.number})}">Previous</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                th:classappend="${pageNumber==users.number + 1} ? active">
                <a th:href="@{~/ui/users/page/{page}(page = ${pageNumber})}"
                   th:text="${pageNumber}" class="page-link"></a>
            </li>
            <li class="page-item" th:classappend="${users.number > users.totalPages - 2} ? disabled">
                <a class="page-link" th:href="@{~/ui/users/page/{page}(page = ${users.number + 2})}">Next</a>
            </li>
        </ul>
    </nav>uJ

</div>
<div th:insert="fragments/style :: scripts"></div>
</body>
</html>