<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/style :: style"></div>
    <title>Model create page</title>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar :: navbar"></div>

    <form th:action="@{/api/models}"
          th:object="${modelCreateRequest}" th:method="post" class="form-size" id="ajaxform" ajaxmethod="post">

        <div class="row mt-5">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="name">Model name</label>
                    <input th:field="*{name}"
                           type="text"
                           id="name"
                           class="form-control"
                           placeholder="model name">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label>Brand</label>
                    <select th:field="*{brandId}" class="form-control" id="brand">
                        <option th:each="entry : ${modelBrandsMap.entrySet()}"
                                th:value="${entry.key}"
                                th:utext="${entry.value}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-2">
                <button type="submit" class="btn btn-success" id="submit-button"><i class="fa fa-pen mr-2"></i>Create</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12" id="msgs">

            </div>
        </div>
        <a href="/ui/models/page/1" id="back" style="display: none"></a>
    </form>
</div>
<div th:insert="fragments/style :: scripts"></div>
</body>
</html>