<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/style :: style"></div>
    <title>Model edit page</title>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar :: navbar"></div>

    <form th:action="@{/ui/models/edit}"
          th:object="${modelUpdateRequest}" th:method="post" class="form-size">

        <div class="row mt-5">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label>Model name</label>
                    <input th:name="name"
                           th:value="${modelEntity.name}"
                           type="text"
                           class="form-control">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label>Brand</label>
                    <select th:field="*{brandId}" class="form-control" id="brand">
                        <option th:value="${modelEntity.brandEntity.id}"
                                th:utext="${modelEntity.brandEntity.name}"> -- </option>
                        <option th:each="entry : ${modelBrandsMap.entrySet()}"
                                th:unless="${entry.key == modelEntity.brandEntity.id}"
                                th:value="${entry.key}"
                                th:utext="${entry.value}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div hidden="hidden">
            <input type="number"
                   th:name="id"
                   th:value="${modelEntity.id}">
        </div>
        <div class="row">
            <div class="col col-2">
                <button type="submit" class="btn btn-success"><i class="fa fa-pen mr-2"></i>Submit</button>
            </div>
        </div>

    </form>
</div>
<div th:insert="fragments/style :: scripts"></div>
</body>
</html>