<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/style :: style"></div>
    <title>Car edit</title>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar :: navbar"></div>

    <form th:action="@{/ui/cars/edit}"
          th:object="${car}" th:method="post" class="form-size">

        <div class="row mt-5">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="firstName">License plate</label>
                    <input th:field="*{licensePlate}"
                           th:value="${car.licensePlate}"
                           type="text"
                           id="firstName"
                           class="form-control">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="model">Model</label>
                    <input th:field="*{modelEntity.id}"
                           th:value="${car.modelEntity.id}"
                           type="number"
                           id="model"
                           class="form-control">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="user">User</label>
                    <input th:field="*{userEntity.id}"
                           th:value="${car.userEntity.id}"
                           type="number"
                           id="user"
                           class="form-control">
                </div>
            </div>
        </div>
        <div hidden="hidden">
            <input type="number" th:field="*{id}" th:value="${car.id}">
        </div>
        <div class="row">
            <div class="col col-2">
                <button type="submit" class="btn btn-success"><i class="fa fa-pen mr-2"></i>Submit</button>
            </div>
        </div>

    </form>
</div>
<div th:insert="fragments/style :: scripts"></div>
</body>
</html>