<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/style :: style"></div>
    <title>Cars page</title>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar :: navbar"></div>
    <div class="row">
        <div class="col-sm-12 col-md-12 add">
            <a href="/ui/cars/create-page" class="btn btn-outline-info"><i class="fas fa-plus"></i>  Add car</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>License Plate</th>
            <th>Owner</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="current : ${cars}">
            <td th:text="${current.modelEntity.brandEntity.name}">brand name</td>
            <td th:text="${current.modelEntity.name}">model name</td>
            <td th:text="${current.licensePlate}">license plate</td>
            <td th:text="${current.userEntity.lastName + ' ' + current.userEntity.firstName }">model name</td>

            <td><a th:href="@{~/ui/cars/update-page/{id}(id = ${current.id})}"
                   class="btn btn-success"><i class="fa fa-pen mr-2"></i>Edit</a></td>

            <td><a th:href="@{~/ui/cars/{id}/delete (id = ${current.id})}"
                   class="btn btn-danger"><i class="fa fa-trash-alt mr-2"></i>Delete</a></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a th:href="@{~/ui/cars/page/1}" class="page-link">1</a></li>
            <li class="page-item"><a th:href="@{~/ui/cars/page/2}" class="page-link">2</a></li>
            <li class="page-item"><a th:href="@{~/ui/cars/page/3}" class="page-link">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
<div th:insert="fragments/style :: scripts"></div>
</body>
</html>